@charset "UTF-8";
@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
GENERAL STYLING
================================================ */
html {
  font-size: 100%;
}
body {
  color: #e7e6df;
  font-family: "SBAggroB";
  background-color: #000000;
}

/*
COMMON
================================================ */
p {
  line-height: 1.7;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 20vw;
}
li {
  display: list-item;
  text-align: center;
}
.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  width: auto;
}
.container::-webkit-scrollbar {
  width: 3px;
}
.container::-webkit-scrollbar-thumb {
  background: linear-gradient(#000000, #c6c5b9);
  border-radius: 25px;
}
.container::-webkit-scrollbar-track {
  background-color: #000000;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* 
HEADER
================================================*/
header {
  scroll-snap-align: start;
  padding: 2rem 0;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 0;
  z-index: 1;
}

.wrapper {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

#homeTextButton {
  z-index: 10;
}
/*
HOME
================================================ */
.home {
  text-align: center;
  padding-top: 30vh;
}

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-container:before {
  background: url("../images/poster.png") no-repeat center #000000;
  background-size: 60%;
  content: " ";
  position: absolute;
  left: 0;
  top: -10rem;
  opacity: 0.2;
  height: 80vh;
  width: 100%;
  z-index: -1;
}

.home-text {
  font-size: 2rem;
}

.home-title {
  font-size: 4rem;
}

.confetti {
  position: absolute;
  top: -20rem;
  opacity: 0.7;
  width: 100%;
  height: 50rem;
}

.down {
  position: relative;
}
.down::after {
  position: absolute;
  right: -10px;
  top: 2rem;
  content: "";
  width: 30px;
  height: 30px;
  border-top: 3px solid #c6c5b9;
  border-right: 3px solid #c6c5b9;
  transform: rotate(135deg);
}

.down:hover {
  animation: motion 0.5s linear 0s infinite alternate;
}

@keyframes motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 5px;
  }
}
/*
MOVIE
================================================ */
.movie {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  padding-top: 3rem;
}
.carousel-container {
  overflow: hidden;
  margin: 0 auto;
  width: 1280px;
}

.carousel {
  display: flex;
  transition: all 1s;
}

.carousel-item {
  width: 100%;
}

.prev,
.next {
  position: relative;
  z-index: 1;
}
.prev::after {
  position: absolute;
  left: 2rem;
  content: "";
  width: 50px;
  height: 50px;
  border-top: 2px solid #c6c5b9;
  border-right: 2px solid #c6c5b9;
  transform: rotate(225deg);
}

.next::after {
  position: absolute;
  right: 2rem;
  content: "";
  width: 50px;
  height: 50px;
  border-top: 2px solid #c6c5b9;
  border-right: 2px solid #c6c5b9;
  transform: rotate(45deg);
}

/*
DIALOG
================================================ */
.dialog {
  height: 300vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/background.png");
  box-sizing: border-box;
  padding-top: 20%;
  scroll-margin-bottom: 30rem;
}

.dialog-content {
  padding-bottom: 8rem;
}

.name-text {
  margin-top: 0.5rem;
  font-size: 18px;
}

#content1,
#content3,
#content5 {
  text-align: right;
  margin-right: 15rem;
  font-size: 25px;
}

#content2,
#content4,
#content6 {
  text-align: left;
  margin-left: 15rem;
  font-size: 25px;
}

#hahaha {
  margin: 10rem;
  font-size: 30px;
}

/* 
PRODUCT
================================================*/
.product {
  height: 77vh;
  padding-top: 5rem;
}

.product-text {
  text-align: center;
  font-size: 4rem;
  margin: 4rem auto;
}

.item-content {
  display: flex;
  margin: 0 1rem;
  overflow-x: hidden;
  min-width: 80vw;
  min-height: 50vh;
}

.item {
  width: 18rem;
  margin: 0 1.5rem;
}

.img-box {
  height: 20rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.img-box img {
  width: auto;
  height: auto;
  max-width: 18rem;
}
.hover-item-img {
  display: none;
}

.img-box:hover .item-img {
  display: none;
}

.img-box:hover .hover-item-img {
  display: block;
}

.item-text {
  padding: 0 0.5rem;
}

/* 
FOOTER
=================================================*/
footer {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 108px 100px 108px 100px;
  background-color: #000000;
  font-family: sans-serif;
  margin-top: 2rem;
}
.copyright {
  font-family: "SBAggroB";
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 16px;
  text-align: center;
}
.image {
  width: 105px;
  height: 80px;
}
/*
MOBILE SIZE
================================================ */
@media (max-width: 700px) {
  .title {
    font-size: 4rem;
  }
  p {
    padding: 0 1rem;
  }
  p,
  .menu-list li {
    font-size: 1rem;
  }
  .home {
    padding-top: 12vh;
  }
}
